body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2px;
}

.search-bar {
    grid-column: 1 / span 2;
    text-align: center;
    margin-top: 2px;
}

.search-bar form {
    margin: 0; /* Remove default form margin */
}

.search-bar input {
    margin-right: 8px; /* Adjust as needed */
}

.search-button {
    padding: 8px 20px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: blue;
}

.link:hover {
    text-decoration: underline;
}

.back-and-others {
    text-align: right;
    margin-top: 2px;
}

.grid-item {
    margin-top: 2px;
}

.grid-item1, .grid-item2, .grid-item3 {
    display: inline-block;
    margin-right: 8px; /* Adjust as needed */
}
